@use '../base/variables' as v;


.objects-wrapper {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.object-wrapper {
    width: 25%;
    margin-bottom: 4rem;
}

.object-container {
    display: flex;
    flex-direction: column;
    background-color: v.$obj-bg-color;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid v.$obj-border-color;
    box-shadow: 0.8rem 0.8rem 1rem rgba(0,0,0,0.4);

    img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }

    .object-content {
        margin: auto;
        padding: 2rem 0;
        line-height: 1.7;
        a {
            text-decoration: none;
            color: v.$link-color;
            &:hover {
                opacity: 0.8;
            }
        }
        p {
            text-align: left;
        }
    }

    .object-btn {
        margin: auto;
        :first-child {
            margin-right: 1rem;
        }
        :last-child {
            margin-left: 1rem;
        }
    }
}

.impression {
    padding-top: 1rem;
}

// レスポンシブ
@media screen and (max-width: v.$tablet) {
    .object-wrapper {
        width: 50%;
    }

    .object-container {
        width: 80%;
    }
}

@media screen and (max-width: v.$sp) {
    .object-wrapper {
        width: 100%;
    }

    .object-container {
        padding-bottom: 0.5rem;

    }
    
    .object-content {
        padding: 1rem 0; 
        margin: 0;
    }

    .object-btn {
        padding-bottom: 1rem;
    }
}