@use '../base/variables' as v;

.update-wrapper, .create-wrapper {
    padding-bottom: 2rem;
}

.update-form {
    img {
        display: inline-block;
        width: 30rem;
        padding-bottom: 2rem;
    }
}

.update-form-label {
    padding-bottom: 2rem;

    select {
        @include v.input-form;
    }

    input[type="text"] {
        @include v.input-form;
    }

    textarea {
        @include v.input-form;
    }
}