{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="password-reset-wrapper">
    <div class="container">
        <div class="password-reset-title">
            <h2>パスワード変更</h2>
        </div>
        {% include "_form.html" with submit_label="変更する" %}
        <button type="button" class="btn btn-primary" onclick="history.back()">戻る</button>
    </div>
</div>
{% endblock content %}


{% block js %}
<script type="text/javascript" src="{% static 'js/password-reset.js' %}"></script>
{% endblock js %}