.login-wrapper {
    background-color: #fff;
    border: 1px solid #cccccc;
    width: 50%;
    margin: 0 auto;
    border-radius: 0.5rem;
    line-height: 2;
    padding: 20px;
}

.login-wrapper h2 {
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 25px;
}

.login-form {
    line-height: 3;
    padding-bottom: 4%;
}

.form-label {
    font-size: 1rem;
}

.form-control {
    padding: 10px 5px;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
}