.password-reset-wrapper {
    width: 50%;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 0;
    border: 1px solid #cccccc;
    line-height: 2;
    border-radius: 0.5rem;
}

.password-reset-title {
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

 h2 {
    padding-bottom: 20px;
}

.password-hint {
    position: relative;
}

#password-hint-img {
    vertical-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
}

#password-hint-img:hover {
    opacity: 0.8;
}

.password-hint-text{
    position:absolute;
    width:320px;
    background:#E6D6E6;
    padding:20px;
    text-align:left;
    color:#333333;
    font-size:10px;
    font-weight:bold;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    top: -70%;
    left: 300%;
}

.password-hint-text:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(230, 214, 230, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:30px;
    border-right-width:30px;
    margin-top: -10px;
    border-right-color:#E6D6E6;
    right:100%;
    top:55%;
}


ul {
    list-style: none;
}

label {
    font-size: 1.1rem;
}

input {
    padding: 7px 10px;
    border-radius: 0.5rem;
    border: 1px solid #cccccc;
}

p {
    padding-bottom: 10px;
}